.home-header {
  display: flex;
  flex-direction: column;
  margin: 60px 0px;
  color: $color-light;
  text-transform: uppercase;
}

.box1 {
  display: flex;
  text-align: center;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 100%;
}
.box1 img {
  width: 100%;
  height: 150px;
  object-fit: cover;
  border-radius: $radius;
}
.row-wrapper {
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;
  gap: 10px;
  align-items: center;
}
.box1 p {
  opacity: 0;
  margin-bottom: 0;
  color: white;
  font-size: 12px;
}

.box1:hover p {
  transform: translateY(-50%);
  transition: $transition;
  opacity: 100%;
  margin: 0;
}
.box1 h3 {
  margin: 40px 0 0 0;
  color: white;
  font-weight: bold;
  font-size: 15px;
}

.box1:hover h3 {
  transform: translateY(-25%);
  transition: $transition;
  margin: 0 0 10px 0;
}
.orderbooking-links {
  position: absolute;
  top: 50%;
  text-align: center;
  justify-content: center;
  margin: 0;
  left: 50%;
  transform: translateX(-50%);
}

.opening {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: $color-main;
  height: 120px;

  text-align: center;
  padding-top: 5px;
  margin-top: 5px;
}

.carousel img {
  height: 200px;
  width: 200px;
  object-fit: cover;
}

.carousel-container {
  overflow: hidden;
}

.carousel {
  max-width: 100%;
  margin: 0 auto;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  outline: none;
  z-index: 2;
  text-align: center;
}

// .carousel-cell {
// justify-content: center;
// align-items: center;
// text-align: center;
// background-color: #f2f2f2;
// padding: 20px;
// border-radius: 10px;
// box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
// display: none;
// }

.carousel-cell {
  width: 100%;
  height: 200px;
  margin-right: 10px;
  background: #f2f2f2;
  border-radius: 5px;
  counter-increment: gallery-cell;
}
.opinion img {
  max-width: 100%;
  width: 200px;
  height: 200px;
  object-fit: cover;
  border-radius: 50%;
  margin-bottom: 15px;
}

.is-selected {
  display: flex;
}
.flickity-page-dots {
  position: absolute;

  bottom: -5px;
  display: flex;
  width: 100%;
  justify-content: center;
}

.dot {
  width: 10px;
  height: 10px;
  background-color: red;
  border-radius: 50%;
  cursor: pointer;
  margin: 0 5px;
  font-size: 0px;
}

.flickity-prev-next-button {
  background: none;
  color: red;
  border: none;
  font-size: 20px;
  top: 50%;
  transform: translateY(-50%);
}

.flickity-page-dots .dot.is-selected {
  background-color: grey;
}
.description {
  max-width: 80%;
  margin: 0 auto;
}

.opinion {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  display: inline-block;
  vertical-align: middle;
}
.gallery {
  position: relative;
  margin: 20px 0;
}
.gallery-row {
  display: flex;
  margin-bottom: 10px;
  overflow: hidden;
}
.gallery-wrapper {
  position: relative;
  margin-right: 10px;
  width: calc(33.33% - 10px);
  overflow: hidden;
}

.gallery-wrapper:last-child {
  margin-right: 0;
}

.picture-img {
  position: relative;
  overflow: hidden;
}

.picture-img img {
  width: 100%;
  height: auto;
  transition: transform 0.3s ease;
}

.gallery-wrapper:hover .picture-img img {
  transform: scale(1.1);
}

.icons-wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.icons-wrapper i {
  color: white;
  font-size: 25px;
  padding: 6px;
  margin-right: 5px;
  display: inline-block;
}

.icons-wrapper i:hover {
  color: #ff6b6b;
}
